*{
    box-sizing: border-box;
    margin: 0
}

header {
    background-color: green;
    height: 500px;
    background-image: url("images/m5_top.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
h1 {
  color:white;
  padding: 50px;
  text-align: center;
}

.topNav ul {
  margin: 0 auto;
  color: #fff;
  list-style: none;
  padding-left: 0;
}
.topNav ul a {
  display: block;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
}
.Navzyanai ul{
  width: 600px;
  margin: 0 auto;
  color: #fff;
  list-style: none;
}
.Navzyanai ul a {
  display: block;
  width: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  border: 3px solid black;
  border-radius: 10px;
}
.flex-reverse-mb {
  flex-direction: column-reverse;
}
main {
  width: 60%;
  margin: 50px auto;
}
.mk_img {
  width: 100%;
}
.creeperimg {
  display: none;
}
.zombieimg {
  display:none;
}
.chickenimg {
  display:none;
}
.DiamondSwordimg {
  display:none;
}
.flex {
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
}
.flex img {
  width: 350px;
  margin: 0 auto;
}
.flex div {
  width: 250px;
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  .flex {
  margin-top: 200px;
  display: flex;
  justify-content: center;
   flex-direction: row;
}
.flex img {
  width: 350px;
  margin: 0;
}
.flex div {
  margin: 0;
}
  .Navzyanai ul{
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  color: #fff;
  list-style: none;
}
.Navzyanai ul a {
    display: inline;
  width: auto;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
  opacity: 1;
  transition: all 2s ease;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.6);
}
.Navzyanai ul a:hover{
color: #fff;
background-color: black;
opacity: 0.7;
transition: all 2s;
border: 3px solid rgb(255, 255, 255);
  border-radius:100px / 100px;
  box-shadow: 0px 0px 0px rgba(0,0,0, 0.3);
}
  .topNav ul {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
  color: #fff;
  list-style: none;
}
.topNav ul a {
    display: inline;
  width: auto;
  color: #000000;
  text-decoration: none;
  background-color: #fff;
  padding: 10px 15px;
  opacity: 0.6;
  transition: all 1.5s ease;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0,0,0, 0.6);
}
.topNav ul a:hover{
color: #fff;
background-color: black;
opacity: 0.9;
transition: all 1.5s ease;
border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 0px 0px rgba(0,0,0, 0.3);
}
  h1 {
  padding: 200px;
  text-align: center;
  padding-right: 500px;
}
  main {
    width: 960px;
    margin: 50px auto;
  }
  .creeperimg {
  display:block;
  width: 60px;
  position: absolute;
  top: 200px;
  left: calc(50% + 200px);
  transform: scale(1);
  transition: all 2s;
  opacity: 1;
}
.creeperimg:hover {
  transform: scale(2);
  transition: all 2s;
  position: absolute;
  top: 200px;
  left: 50%;
opacity: 0;
}
.zombieimg {
  width: 70px;
    position: absolute;
  top: 750px;
    left: calc(50% + 70px);
    animation: zombietataku 1s infinite alternate;
    display:block;
}
.chickenimg {
  display:block;
  width: 70px;
    position: absolute;
  top: 120px;
  left: calc(50% + 200px);
  animation: ChickenUpAndDown 2s ease-in-out infinite alternate;
}
.DiamondSwordimg {
  display:block;
  width: 70px;
    position: absolute;
  top: 750px;
    left: calc(50% + 150px);
   transform: rotateZ();
   animation: SpinDiamondSword 1s infinite alternate;
}
}
section h3 {
text-align: center;
margin-top: 32px;
font-size: 24px;
margin-bottom: 20px;
}
footer {
  background-color: lightgray;
  padding: 80px;
  text-align: center;
}
@keyframes ChickenUpAndDown {
  0% {transform: translateY(-30px)}
  100% {transform: translateY(28px)}
}
@keyframes zombietataku {
  0%{transform: rotateZ(-30deg);}
100%{transform: rotateZ(30deg);}
}
@keyframes SpinDiamondSword {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}